.error{
    /*border-style: solid;*/
    /*border-color: red;*/
    color: red;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 14px;
}

.wrapper
{
    margin: auto;
    width: 300px;
    height: auto;
    background-color: beige;
    padding: 20px;
}

.change_lang{
    padding: 0;
    margin: 0;
}

.registration{
    width: 300px;
    margin: 0;

}

.info {
     width: 300px;
 }

#first_name{
    border-style: solid;
    border-color: silver;
    margin-bottom: 10px;
}

#last_name{
    border-style: solid;
    border-color: silver;
    margin-bottom: 10px;
}

#email{
    border-style: solid;
    border-color: silver;
    margin-bottom: 10px;
}

#password{
    border-style: solid;
    border-color: silver;
    margin-bottom: 10px;
}

#login{
    border-style: solid;
    border-color: silver;
    margin-bottom: 10px;
}