* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font: 14px "PTSans", Helvetica, Arial, sans-serif;

}

.wrapper {
    margin: auto;
    width: 300px;
    height: auto;
    background-color: beige;
    padding: 20px;
}

.change_lang {
    padding: 0;
    margin: 0;
}

.registration{
    width: 300px;
    margin: 0;

}

.info {
    width: 300px;
}

.registration input{
    border: 1px solid silver;
    margin-bottom: 10px;
}

.linkSingIn {
    float: right;
}

#file {
    border: none;
}

input.error {
border: 1.5px solid red;
}

.error_first_name, .error_last_name, .error_email, .error_login, .error_password {
    display: none;

    font-size: 12px;
    font-style: italic;
    color: red;
}

p.error {
    display: none;
}